@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

html {
    font-size: 1vw;
}

body {
    background: linear-gradient(181.54deg, #000E35 14.58%, #011A63 97.32%) no-repeat fixed center;
    max-width: 100%;
}

.section {
    max-width: 100%;
}

.container-fluid {
    max-width: 90%;
}

.top_bar {
    text-align: center;
    padding: 1em;
}



.intro_img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.intro {
}

.cover_heading {
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.2em;
    /* or 125% */
    color: #FFFFFF;
    align-self: center;
    align-content: start;
}

.offers {
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    align-self: center;
    align-content: start;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1rem;
}

.intro_about {
    position: relative;
    /* Body */
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 2.5rem;
    /* or 167% */
    align-items: center;
    color: #FFFFFF;
    box-sizing: border-box;
}


.get_started_btn {
    position: relative;
    width: 50%;
    height: 12%;
    font-size: 1rem;
    background: #FF4D51;
    /* red2 */
    border: 1px solid #FF4D51;
    box-sizing: border-box;
    border-radius: 4px;
    align-self: center;
    display: inline-block;
}

.create_acct_btn {
    position: relative;
    width: 20%;
    height: 200%;
    font-size: 1rem;
    background: #FF4D51;
    /* red2 */
    border: 1px solid #FF4D51;
    box-sizing: border-box;
    border-radius: 4px;
    align-self: center;
    display: inline-block;
}

.offer_desc {
    position: relative;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 1.5rem;
    /* or 167% */
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
}

.offer_head {
    position: relative;
    font-size: 3.5rem;
    /* H1 */
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.offer_img1 {
    position: relative;
    width: 40%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.offer_img2 {
    position: relative;
    width: 40%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.offer_img3 {
    position: relative;
    width: 40%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.curric {
    position: absolute;
    width: 1439px;
    height: 681px;
    left: -2px;
    top: 100px;
}

.curric_head {
    position: absolute;
    width: 670px;
    height: 124px;
    left: 46px;
    top: 1896px;
    /* H1 */
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 91px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.curric_para {
    position: absolute;
    width: 670px;
    height: 106px;
    left: 46px;
    top: 1995px;
    /* Body */
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.curric_options {
    position: absolute;
    width: 674px;
    height: 611px;
    left: 735px;
    top: 1715px;
}
