@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,0);
}

li, a, button{
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    height: 56px;
    width: 198px;
    cursor: pointer;

    margin-top: 5px;
}

.tab{
	
}

.nav__links {
    list-style: none;
    margin-top: 15px;

}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    
}

.nav__links li a{
    transition: all 0.3s ease 0s;


}

.nav__links li a:hover {
    color: #0088a9;
}

button{
    width: 130px;
    height: 60px;
    cursor: pointer;
    border:none;
    border-radius: 4px;
    transition: all 0.3s ease 0s;

}

.cta {
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    border: 1px solid white;
    margin-right: 1.5em;
}

.cta_no_margin{
     box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    border: 1px solid white;
}

.cta2 {
    background: #FF4D51;
    display:inline-block;
    border-radius: 4px;



}
button:hover {
    background-color: #FF1A1F;
}
