@model IEnumerable<User>

@{
    ViewBag.Title = "StartSmart";
}


    
       
    

<div class="intro_para">
    <h1 class="cover_heading">Learn to become an entrepreneur right from home. </h1>
    <img class="intro_img" src="~/images/illustration-hero.png" />
    <p class="intro_about">
        StartSmart teaches students how to grow their entrepreneurial ideas, from conception to implementation.
    </p>
    <!-- <button asp-action="create" asp-controller="home"  class="sign_up_btn">Get Started</button>-->
    <button asp-action="Create" asp-controller="Home" class="get_started_btn">Get Started</button>
</div>

<div class="offerings">
    <img class="offer_img1" src="~/images/icon-controller.png" />
    <img class="offer_img2" src="~/images/icon-feedback.png" />
    <img class="offer_img3" src="~/images/icon-event.png" />
    <h1 class="offer_head">What we offer</h1>
</div>

<div class="curric">
    <h1 class="curric_head">Our Curriculumn</h1>
    <p class="curric_para">Created by business educators at top universities, StartSmart’s curriculum is guaranteed to help you learn how to cultivate your ideas into tangible products.</p>
</div>

