@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "StartSmart";
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/navbar.css" rel="stylesheet">
        <link href="~/css/Homepage.css" rel="stylesheet">
    </head>
    <body>
        <hr />
        <div class="container-fluid">
            <div class="section d-none d-lg-block">
                <div class="row">
                    <div class="col-8 d-flex justify-content-start">
                        <a asp-action="Index" asp-controller="Home"><img class="logo" src="~/images/brand_img.png" alt="logo" /></a>
                        <a class="top_bar" href="#">About</a>
                        <a class="top_bar" href="#">Curriculum</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a class="cta" asp-action="LoginPage" asp-controller="Account"><button>Login</button></a>
                        <a class="cta2"  asp-action="Create" asp-controller="Account"><button>Sign Up</button></a>
                    </div>
                </div>
            </div>
        </div>

    </body>




    <hr />
    <hr />
    <body>
        <div class="container-fluid">
            <div class="section d-none d-lg-block">
                <div class="row justify-content-center ">
                    <div class="col-5 d-flex justify-content-start ">
                        <div>
                            <img class="intro_img img-responsive" src="~/images/illustration-hero.png" />
                        </div>
                    </div><div class="col-1 d-flex"></div>
                    <div class="intro_para col-5 d-flex justify-content-center align-self-center">
                        <div>
                            <h1 class="cover_heading">
                                Learn to become an entrepreneur right from home.
                            </h1>
                            <p class="intro_about">
                                StartSmart teaches students how to grow their entrepreneurial ideas, from conception to implementation.
                            </p><hr />  <hr /><a asp-action="Create" asp-controller="Account"><button class="get_started_btn text">Get Started</button></a>
</div>
                    </div>


                    <!-- <button asp-action="create" asp-controller="home"  class="sign_up_btn">Get Started</button>-->

                </div>
            </div>
        </div>
    </body>
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <body>
        <div class="container-fluid">
            <div class="section d-none d-lg-block">
                <div class="row justify-content-center">

                    <div class="offerings text-center col d-flex justify-content-center align-self-center">
                        <h1 class="offer_head">What we offer</h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <hr />
    <hr />
    <hr />
    <hr />
    <body>
        <div class="container-fluid">
            <div class="section d-none d-lg-block ">
                <div class="row justify-content-center">
                    <div class="col d-flex justify-content-center">
                        <div>
                            <img class="offer_img1 img-fluid align-self-center" src="~/images/icon-controller.png" />
                            <hr /><hr />

                            <h2 class="offers">
                                Gamified Curriculum
                            </h2>
                            <hr />
                            <p class="offer_desc">Progress through an interesting, fulfilling curriculum with milestones and achievements </p>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div>
                            <img class="offer_img2 img-fluid" src="~/images/icon-feedback.png" />
                            <hr /><hr />

                            <h2 class="offers">
                                Custom Feedback
                            </h2>
                            <hr />
                            <p class="offer_desc">Create deliverables and receive feedback on your ideas from our staff</p>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div>
                            <img class="offer_img3 img-fluid" src="~/images/icon-event.png" />
                            <hr /><hr />

                            <h2 class="offers">
                                Curated Events
                            </h2>
                            <hr />
                            <div>
                                <p class="offer_desc">Find events and connect with other entrepreneurs</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
    </body>
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <body>

        <div class="container-fluid">
            <div class="section d-none d-lg-block">
                <div class="row justify-content-center ">
                    <div class="intro_para col-5 d-flex justify-content-center align-self-center">
                        <div>
                            <h1 class="cover_heading">
                                Our Curriculumn
                            </h1>
                            <p class="intro_about">
                                Created by business educators at top universities, StartSmart’s curriculum is guaranteed to help you learn how to cultivate your ideas into tangible products.
                            </p><hr />  <hr />
                        </div>
                    </div>
                    <div class="col-1 d-flex"></div>
                    <div class="col-5 d-flex justify-content-start ">
                        <div>
                            <img class="intro_img img-responsive" src="~/images/Curriculum.png" />
                        </div>
                    </div>



                    <!-- <button asp-action="create" asp-controller="home"  class="sign_up_btn">Get Started</button>-->

                </div>
            </div>
        </div>

        <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />
        <body>
            <div class="container-fluid">
                <div class="section d-none d-lg-block">
                    <div class="row justify-content-center ">
                        <div class="col-5 d-flex justify-content-start ">
                            <div>
                                <img class="intro_img img-responsive" src="~/images/illustration-event.png" />
                            </div>
                        </div><div class="col-1 d-flex"></div>
                        <div class="intro_para col-5 d-flex justify-content-center align-self-center">
                            <div>
                                <h1 class="cover_heading">
                                    Events
                                </h1>
                                <p class="intro_about">
                                    Meet other entrepreneurs, mentors, and more at networking events, career fairs, and seminars hand-picked by our staff.
                                </p><hr />  <hr />
                            </div>
                        </div>


                        <!-- <button asp-action="create" asp-controller="home"  class="sign_up_btn">Get Started</button>-->

                    </div>
                </div>
            </div>

            <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />
            <body>
                <div class="container-fluid">
                    <div class="section d-none d-lg-block">
                        <div class="row justify-content-center">

                            <div class="offerings text-center col d-flex justify-content-center align-self-center">
                                <h1 class="offer_head">Ready to get started?</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <hr /><hr />
                <div class="container-fluid">
                    <div class="section d-none d-lg-block">
                        <div class="row justify-content-center text-center">
                            <div class="col">
                                <a asp-action="Create" asp-controller="Account"><button class="create_acct_btn text">Create an Account</button></a>
                            </div>


                        </div>
                    </div>
                </div>
            </body>
            </div>
        </body>

        </div>
        </div>
        <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />

        <footer id="custom_footer" class="py-4 text-white-50 d-none d-lg-block">
            <div class="container-fluid text-center">
                <div class="section ">
                    <img class="logo" src="~/images/brand_img.png" alt="logo" />
                    <small>Copyright &copy; StartSmart</small>
                </div>
            </div>
        </footer>

    </body>
</html>
