@model IEnumerable<User>

@{
    ViewBag.Title = "StartSmart";
}
    <body>
        <hr />
        <div class="container-fluid">
            <div class="section d-none d-lg-block">
                <div class="row">
                    <div class="col-8 d-flex justify-content-start">
                        <img class="logo" src="Assets/brand_img.png" alt="logo" />
                        <a class="top_bar" href="#">About</a>
                        <a class="top_bar" href="#">Curriculumn</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a class="cta" href="#"><button>Login</button></a>
                        <a class="cta2" href="#"><button>Sign Up</button></a>
                    </div>
                </div>
            </div>
        </div>

    </body>
<hr />
<hr />
<body>
    <div class="container-fluid">
        <div class="section d-none d-lg-block">
            <div class="row justify-content-center ">
                <div class="col-5 d-flex justify-content-start ">
                    <div>
                        <img class="intro_img img-responsive" src="~/images/illustration-hero.png" />
                    </div>
                </div><div class="col-1 d-flex"></div>
                <div class="intro_para col-5 d-flex justify-content-center align-self-center">
                    <div>
                        <h1 class="cover_heading">
                            Learn to become an entrepreneur right from home.
                        </h1>
                        <p class="intro_about">
                            StartSmart teaches students how to grow their entrepreneurial ideas, from conception to implementation.
                        </p><hr />  <hr /><button class="get_started_btn text" formaction="/Home/Create">Get Started</button>
                    </div>
                </div>


                <!-- <button asp-action="create" asp-controller="home"  class="sign_up_btn">Get Started</button>-->

            </div>
        </div>
    </div>
</body>
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<body>
    <div class="container-fluid">
        <div class="section d-none d-lg-block">
            <div class="row justify-content-center">

                <div class="offerings text-center col d-flex justify-content-center align-self-center">
                    <h1 class="offer_head">What we offer</h1>
                </div>
            </div>
        </div>
    </div>
</body>
<hr />
<hr />
<hr />
<hr />
<body>
    <div class="container-fluid">
        <div class="section d-none d-lg-block ">
            <div class="row justify-content-center">
                <div class="col d-flex justify-content-center">
                    <div>
                        <img class="offer_img1 img-fluid align-self-center" src="~/images/icon-controller.png" />
                        <hr /><hr />

                        <h2 class="offers">
                            Interactive Curriculum
                        </h2>
                        <hr />
                        <p class="offer_desc">Progress through an interesting, fulfilling curriculum with milestones and achievements </p>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div>
                        <img class="offer_img2 img-fluid" src="~/images/icon-feedback.png" />
                        <hr /><hr />

                        <h2 class="offers">
                            Custom Feedback
                        </h2>
                        <hr />
                        <p class="offer_desc">Create deliverables and receive feedback on your ideas from our staff</p>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div>
                        <img class="offer_img3 img-fluid" src="~/images/icon-event.png" />
                        <hr /><hr />

                        <h2 class="offers">
                            Curated Events
                        </h2>
                        <hr />
                        <div>
                            <p class="offer_desc">Find events and connect with other entrepreneurs</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
</body>
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<body>

    <div class="container-fluid">
        <div class="section d-none d-lg-block">
            <div class="row justify-content-center ">
                <div class="intro_para col-5 d-flex justify-content-center align-self-center">
                    <div>
                        <h1 class="cover_heading">
                            Our Curriculumn
                        </h1>
                        <p class="intro_about">
                            Created by business educators at top universities, StartSmart’s curriculum is guaranteed to help you learn how to cultivate your ideas into tangible products.
                        </p><hr />  <hr />
                    </div>
                </div>
                <div class="col-1 d-flex"></div>
                <div class="col-5 d-flex justify-content-start ">
                    <div>
                        <img class="intro_img img-responsive" src="~/images/Curriculum.png" />
                    </div>
                </div>



                <!-- <button asp-action="create" asp-controller="home"  class="sign_up_btn">Get Started</button>-->

            </div>
        </div>
    </div>

    <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />
    <body>
        <div class="container-fluid">
            <div class="section d-none d-lg-block">
                <div class="row justify-content-center ">
                    <div class="col-5 d-flex justify-content-start ">
                        <div>
                            <img class="intro_img img-responsive" src="~/images/illustration-event.png" />
                        </div>
                    </div><div class="col-1 d-flex"></div>
                    <div class="intro_para col-5 d-flex justify-content-center align-self-center">
                        <div>
                            <h1 class="cover_heading">
                                Events
                            </h1>
                            <p class="intro_about">
                                Meet other entrepreneurs, mentors, and more at networking events, career fairs, and seminars hand-picked by our staff.
                            </p><hr />  <hr />
                        </div>
                    </div>


                    <!-- <button asp-action="create" asp-controller="home"  class="sign_up_btn">Get Started</button>-->

                </div>
            </div>
        </div>

        <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />
        <body>
            <div class="container-fluid">
                <div class="section d-none d-lg-block">
                    <div class="row justify-content-center">

                        <div class="offerings text-center col d-flex justify-content-center align-self-center">
                            <h1 class="offer_head">Ready to get started?</h1>
                        </div>
                    </div>
                </div>
            </div>
            <hr /><hr />
            <div class="container-fluid">
                <div class="section d-none d-lg-block">
                    <div class="row justify-content-center">
                        <div class="col d-flex justify-content-center">
                            <button class="create_acct_btn text" formaction="/Home/Create">Create an Account</button>
                        </div>


                    </div>
                </div>
            </div>
        </body>
        </div>
    </body>

    </div>
    </div>
    <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />
</body>
