@model HomeDetailsViewModel

@{
    ViewBag.Title = "Learn: Business Plans";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="Welcomenavbar.css" rel="stylesheet" />-->
    <!-- <link href="Welcome.css" rel="stylesheet" /> -->

    <link href="~/css/navbar.css" rel="stylesheet">
    <link href="~/css/Homepage.css" rel="stylesheet">
    <title>StartSmart: Module 2 Deliverable</title>
</head>
<body>
    <hr />
    <div class="container-fluid">
        <div class="section d-none d-lg-block">
            <div class="row">
                <div class="col-8 d-flex justify-content-start">
                    <a asp-action="WelcomePage" asp-controller="Home" asp-route-id="@Model.User.Id"><img class="logo" src="~/images/brand_img.png" alt="logo" /></a>
                    <a class="top_bar" asp-action="Learn" asp-controller="Home" asp-route-id="@Model.User.Id">Learn</a>
                    <a class="top_bar" asp-action="Events" asp-controller="Home" asp-route-id="@Model.User.Id">Events</a>
                    <a class="top_bar" href="#">Network</a>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a class="cta" asp-action="Details" asp-controller="Home" asp-route-id="@Model.User.Id"><button>My Profile</button></a>
                    <a class="cta_no_margin" asp-action="Index" asp-controller="Home"><button>Log out</button></a>
                </div>
            </div>
        </div>
    </div>

</body>

<hr />
<hr />
<hr />
<body>
    <div class="container-fluid">
        <div class="section d-none d-lg-block">
            <div class="row justify-content-center">
                <div class="col-3">
                    <h1 class="sub_1">Module 2</h1>
                    <h1 class="heading_3">Business Plans</h1>
                    <div class="row">
                        <div class="col justify-content-center align-self-center divider_line">
                            <div class="module_sections"> <p class="heading_module_comp">Video: Introduction</p></div>
                            <div class="module_sections"> <p class="heading_module_comp">Video: Executive Summaries</p></div>
                            <div class="module_sections"> <p class="heading_module_comp">Video: Market Research</p></div>
                            <div class="module_sections"> <p class="heading_module_comp">Quiz: Business Plans</p></div>
                            <div class="module_sections_act"> <p class="heading_module_act">Deliverable: Business Plans</p></div>
                            <div class="module_sections"> <p class="heading_module_lock">Video: Conclusion</p></div>
                        </div>
                    </div>
                    <hr />
                    <h1 class="sub_1">Module 3</h1>
                    <h1 class="heading_3">Funding</h1>
                    <hr />
                    <h1 class="sub_1">Module 4</h1>
                    <h1 class="heading_3">Prototyping</h1>

                </div>
                <div class="col-9">
                    <h1 class="sub_1">Module 2: Business Plans</h1>
                    <h1 class="heading_2">Deliverable: Business Plans</h1>


                    <hr /><hr />
                    <h1 class="heading_3">Introduction</h1>
                    <p class="para">
                        Now that you’ve learned how to construct a basic business plan, create your own business plan for your business idea, Your plan should include, at minimum, the following sections: Introduction, Executive Summary, Marker Research, and Organizational Analysis. You can also use the following template, with resources and pre-filled boxes, to help you: <u>Business plan template</u>
                    </p>

                    <hr />
                    <h1 class="heading_3">Upload deliverable</h1>
                    <hr />
                    <div class="row justify-content-start no-gutters">
                        <div class="offerings col-5 d-flex justify-content-start">
                            <button class="upload_deliverable align-self-center">Choose File</button> <span class="file_sub"> No File Chosen</span>
                        </div>

                    </div>
                    <hr />
                    <h1 class="file_sub2">Accepted File Types: pdf, docx, doc</h1>
                    <hr /><hr />
                    <div class="row justify-content-start align-self-center">
                        <div class="offerings col-12 d-flex justify-content-start">
                            <button class="submit_deliverable">Submit Deliverable</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />  <hr /><hr />

    <footer id="custom_footer" class="py-4 text-white-50 d-none d-lg-block">
        <div class="container-fluid text-center">
            <div class="section ">
                <img class="logo" src="~/images/brand_img.png" alt="logo" />
                <small>Copyright &copy; StartSmart</small>
            </div>
        </div>
    </footer>

</body>
</html>