<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />-->
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/HomePage.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <img class="logo" src="~/images/brand_img.png" alt="logo" />
        <nav>
            <ul class="nav__links">
                <li><a href="#">About</a></li>
                <li><a href="#">Curriculumn</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Login</button></a>
        <a class="cta2" href="#"><button>Sign Up</button></a>
    </header>

    
    <div id ="grad1" class="container">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

</body>
</html>
